<html>
<head>
	<title>Coffee Cloud (Beta) </title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link href="bower_components/angular-snap/angular-snap.min.css" rel="stylesheet">
	<link href="stylesheets/easy-weather.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
	<link href="stylesheets/default.css" rel="stylesheet">
	<link href="stylesheets/default.date.css" rel="stylesheet">
	

	<script src="javascripts/jquery-2.2.0.min.js"></script>
	<script src="javascripts/bootstrap.min.js" ></script>
	<script src="javascripts/angular.min.js"></script>
	
	
	<script src="javascripts/angular-ui-router.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src = "bower_components/angular-scroll-glue/src/scrollglue.js"></script>
	<script src="javascripts/jquery-ui.js"></script>
	<script src="javascripts/picker.js"></script>
	<script src="javascripts/picker.date.js"></script>
	<script src="javascripts/validator.min.js"></script>
	<script src="javascripts/muni14.min.js"></script>
	<script src="javascripts/socket.io.js"></script>
	<script src="bower_components/angular-socket-io/socket.min.js"></script>
	<script src="bower_components/snapjs/snap.min.js"></script>
	<script src="bower_components/angular-snap/angular-snap.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="javascripts/ng-file-upload.min.js"></script>
	<script src="javascripts/angular-base64.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4UV7wDq9fK_rQsP8yZqYwW-mnnz0J1Lc"></script>
	<script src="javascripts/pouchdb-6.1.2.min.js"></script>
	<script src="javascripts/angularApp.js"></script>
	<script src="javascripts/controllers/MainCtrl.js"></script>
	<script src="javascripts/controllers/PostCtrl.js"></script>
	<script src="javascripts/controllers/AuthCtrl.js"></script>
	<script src="javascripts/controllers/UnitCtrl.js"></script>
	<script src="javascripts/controllers/NavCtrl.js"></script>
	<script src="javascripts/controllers/NewsCtrl.js"></script>
	<script src="javascripts/controllers/LocationCtrl.js"></script>
	<script src="javascripts/controllers/RoyaCtrl.js"></script>
	<script src="javascripts/controllers/GalloCtrl.js"></script>
	<script src="javascripts/controllers/DosageCtrl.js"></script>
	<script src="javascripts/controllers/VulneCtrl.js"></script>
	<script src="javascripts/controllers/SupportCtrl.js"></script>
	<script src="javascripts/controllers/WeatherCtrl.js"></script>
	<script src="javascripts/controllers/ProfileCtrl.js"></script>
	<script src="javascripts/controllers/CampoCtrl.js"></script>
	
	<script src="javascripts/easy-weather-keys.js"></script>
	<script src="javascripts/easy-weather.js"></script>
	

<script type="text/javascript">function setupGeo(o) {
        window.geoplugin_request = function() { return o.ip; };
        window.geoplugin_status = function() { return '200'; };
        window.geoplugin_city = function() { return o.city; };
        window.geoplugin_region = function() {return o.region_name; };
        window.geoplugin_countryCode = function() { return o.country_code; };
        window.geoplugin_countryName = function() { return o.country_name; };
        window.geoplugin_latitude = function() { return o.latitude; };
        window.geoplugin_longitude = function() { return o.longitude; };

}</script>
<script type="text/javascript" src="https://freegeoip.net/json/?callback=setupGeo"></script>	

	<style> .glyphicon-thumbs-up { cursor:pointer; } </style>
</head>
<body ng-app="coffeeScript" ng-controller="MainCtrl">
	<div class="loader">
		<span>Cargando...</span>
	</div>

		<%- include partials/navigation.ejs %>
	
	
	  <div class="pushbox" snap-content snap-opt-disable="'right'">
	  	<div class="nav-switch" ng-controller="NavCtrl"><button ng-show="isLoggedIn()" class="switch glyphicon glyphicon-menu-hamburger" type="button" snap-toggle></button></div>
				<ui-view></ui-view>
	  </div>
		  
		<%- include pages/home.ejs %>
		
		<%- include pages/posts.ejs %>   
		
		<%- include pages/register.ejs %>  	
		
		<%- include pages/register-profile.ejs %>
		
		<%- include pages/login.ejs %>
		
		<%- include pages/forgorpasswordscreen.ejs %>					   		
	
		<%- include pages/resetpassword.ejs %>
		
		<%- include pages/otpscreen.ejs %>
		
		<%- include pages/location.ejs %>
		
		<%- include pages/roya.ejs %>
	
		<%- include pages/gallo.ejs %>
		
		<%- include pages/dosage.ejs %>
		
		<%- include pages/vulnerability.ejs %>
		
		<%- include pages/campo.ejs %>
		
		<%- include pages/weather.ejs %>
		
		<%- include pages/forecast.ejs %>
		
		<%- include pages/moon.ejs %>
		
		<%- include pages/support.ejs %>
		
		<%- include pages/profile.ejs %>
		
		<%- include pages/news.ejs %>

	  <!-- Latest compiled and minified JavaScript -->





</body>
</html>